<div class="about-container">
    <div class="pic">
        <img src="../../../assets/about_image.jpg" srcset="">
      </div> 
      <div class="intro">
    
   
            <h1>Hi!</h1>
      
        <p><span>This is Hemanth Vardhan Thallapaneni, a software engineer by profession and a photography enthusiast by passion. In the hustle of codes and algorithms, I found my escape behind the lens, capturing the beautiful stories that often go unnoticed in the everyday chaos. Life is a collection of fleeting moments, and my camera is my tool to freeze those instances of magic. Join me on this visual journey as I strive to seize the often-overlooked narratives happening around us. Let's explore the beauty in the ordinary together!</span></p>
       <div class="find-me">
        <!-- <div>Find me on</div> -->
        <div>
            <img (click)="navigateToSocial('instagram')" src="../../../assets/instagram.png" alt="" srcset="">
            <img (click)="navigateToSocial('linkedin')" src="../../../assets/linkedin.png" alt="" srcset="">
            <img (click)="navigateToSocial('gmail')" src="../../../assets/gmail.png" alt="" srcset="">
        </div>
       </div>
      </div>   
  

  
</div>