<div class="notice-class">
    <p style="font-size:0.85rem"> ⚠️ Friendly Copyright Reminder</p>
    <span>
        Thank you for exploring my photography collection! While I offer free downloads for your personal use, please be aware that all images on this site are protected by copyright, and I retain complete ownership. Reposting or using these images without proper attribution is strictly prohibited. It's crucial to respect the creative efforts behind each photograph. For a better understanding of copyright laws, please refer to this informative article on this <a rel="stylesheet" href="https://www.ppa.com/articles/copyright-law-your-rights-as-a-photographer#:~:text=Though%20the%20legalese%20can%20be,Display%20the%20image%20in%20public">URL</a>. Your cooperation ensures a positive and supportive community for photography enthusiasts. Thank you for your understanding and enjoy the images responsibly!
    </span>
    <div style="font-size: 0.8rem;" class="download-button" (click)="agreeNotice()">I'm cool with that! </div>
    <div mat-dialog-close class="close">I don't agree!</div>
</div>

  