<div [class.dark-theme]="isDarkMode" [class.light-theme]="!isDarkMode" class="nav-container">
     <div class="left-container">
           <img [ngStyle]="isDarkMode ? {'filter': 'invert(100%)'} : {}" src="../../../assets/ht_logo.png" alt="logo" height="50px" width="50px">
           <div  (click)="routeToPage(item.route)" *ngFor="let item of navItems">
            {{item.name | titlecase}}
         </div>
     </div>

     <div class="right-container">
      <!-- <button (click)="toggleDarkMode()" mat-icon-button>
         <mat-icon  class="material-symbols-outlined">{{isDarkMode ? "dark_mode" : "light_mode"}}</mat-icon>
      </button> -->
      
      <div (click)="routeToPage('about')">About</div>
      <div>Thank you!</div>
     </div>
</div>